.field {
    flex-direction: column;
}

.label {
    font-size: 17px;
}

#submitRequest {
    margin: 1rem 0 2rem 2rem;
    padding: 0.5rem;
    background-color: rgb(30, 62, 167);
    color: white;
    font-size: 1rem;
}

.request__delete {
    background-color: rgb(255, 0, 179)
}